.slideShow {
  
}
.cbSlideshow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  list-style-type: none;
  margin: 0;
  opacity: 0.8;
}

.cbSlideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 25s linear infinite 0s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1
  }
  25% {
    opacity: 0
  }
  100% {
    opacity: 0
  }
}

.cbSlideshow li:nth-child(1) span {
  background-image: url('imgs/5e1d5b77497a806f70c8909479ab242.webp');
}


.cbSlideshow li:nth-child(2) span {
  background-image: url('imgs/156f938a880f6bb2f6205e22b305659.webp');
  animation-delay: 5s;
}

.cbSlideshow li:nth-child(3) span {
  background-image: url('imgs/5505eeee5e516c550e07bfe299f07c5.webp');
  animation-delay: 10s;
}

.cbSlideshow li:nth-child(5) span {
  background-image: url('imgs/b34aadd341132d5b053a6711d9e5548.webp');
  animation-delay: 15s;
}

.cbSlideshow li:nth-child(6) span {
  background-image: url('imgs/f61e0f78a911d77290cb025d927fe6c.webp');
  animation-delay: 20s;
}

@media (min-width: 768px) {
  .cbSlideshow li:nth-child(1) span {
    background-size:cover;
    background-image: url('imgs/5e1d5b77497a806f70c8909479ab242.webp');
  }

  .cbSlideshow li:nth-child(2) span {
    background-size:cover;
    background-image: url('imgs/156f938a880f6bb2f6205e22b305659.webp');
  }

  .cbSlideshow li:nth-child(3) span {
    background-size:cover;
    background-image: url('imgs/5505eeee5e516c550e07bfe299f07c5.webp');
  }

  .cbSlideshow li:nth-child(5) span {
    background-size:cover;
    background-image: url('imgs/b34aadd341132d5b053a6711d9e5548.webp');
  }

  .cbSlideshow li:nth-child(6) span {
    background-size:cover;
    background-image: url('imgs/f61e0f78a911d77290cb025d927fe6c.webp');
  }
}