a.card ul.cardFeat, div.card ul.cardFeat {
    list-style-type: none;
    margin: 0;
    padding: 0 10px 10px 10px;
  }

  a.card ul.cardFeat li, div.card ul.cardFeat li {
    display: inline-block;
    margin-right: 10px;
    font-size: 11px;
    line-height: 11px;
    color: #333;
  }
  a.card ul.cardFeat li span, div.card ul.cardFeat li span {
    color: #999;
  }

  .wechat {
    background-image: url("imgs/wechat_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 3vw;
    height: 3vh;
  }

  @media screen and (max-width: 767px) {
    .wechat {
        width: 8vw;
        height: 6vh;
    }
  }


.email {
    background-image: url("imgs/email_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 3vw;
    height: 3vh;
}

@media screen and (max-width: 767px) {
    .email {
        width: 8vw;
        height: 6vh;
    }
  }